<form>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer01">Task</label>
        <input type="text" class="form-control" name="searchid" [(ngModel)]="search.tname">
      </div>
      <div class="col-md-6 mb-3">
          <label for="validationServer01">Parent Task</label>
          <input type="text" class="form-control" name="searchparent" [(ngModel)]="search.tparentname">
        </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationServer03">Priority From</label>
        <input type="text" class="form-control" name="searchprirorityfrom" [(ngModel)]="search.tpriorityfrom">
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationServer04">Priority To</label>
        <input type="text" class="form-control" name="searchprirorityto" [(ngModel)]="search.tpriorityto">
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationServer05">Start Date</label>
        <input type="text" class="form-control" bsDatepicker name="searchstartdate" [(ngModel)]="search.tstartdate">
      </div>
      <div class="col-md-3 mb-3">
          <label for="validationServer05">End Date</label>
          <input type="text" class="form-control" bsDatepicker name="searchenddate" [(ngModel)]="search.tenddate">
        </div>
    </div>
</form>

<table class="table">
    <thead class="thead-light">
      <tr>        
        <th scope="col">Task</th>
        <th scope="col">Parent Task</th>
        <th scope="col">Priority</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks | taskFilter:search.tname:search.tparentname:search.tpriorityfrom:search.tpriorityto:search.tstartdate:search.tenddate">
        <td>{{task.TaskName}}</td>
        <td>{{task.ParentTaskName}}</td>
        <td>{{task.Priority}}</td>
        <td>{{task.StartDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{task.EndDate | date: 'MM/dd/yyyy'}}</td>
        <td class="btn-group">
            <button type="button" class="btn btn-primary" [disabled]="!task.TaskStatus" 
            (click)="updatetask(task.TaskID);">Edit</button> 
            <button type="button" class="btn btn-primary" (click)="deletetask(task.TaskID)">Delete</button>
            <button type="button" class="btn btn-primary" [disabled]="!task.TaskStatus" 
            (click)="endtask(task)">End Task</button>            
        </td>         
      </tr>       
    </tbody>
  </table>
