<form #newForm="ngForm" autocomplete="off">
        <div class="form-group row">
                <label for="txtTaskName" class="col-sm-2 col-form-label">Task Name</label>
                <div class="col-sm-4">
                        <input type="text" id="txtTaskName" class="form-control" name="TaskName" [(ngModel)]="task.TaskName" required="required"
                                minlength="3" maxlength="30" pattern="^[A-Za-z0-9 /-]*$" #newTaskName="ngModel" [ngClass]="{'is-invalid':newTaskName.invalid && (newTaskName.dirty || newTaskName.touched || newForm.submitted),'is-valid':newTaskName.valid && (newTaskName.dirty || newTaskName.touched || newForm.submitted)}">

                        <span class="text-danger" *ngIf="newTaskName.invalid && (newTaskName.dirty || newTaskName.touched || newForm.submitted) && newTaskName.errors?.required">Task Name cannot be blank</span>
                        <span class="text-danger" *ngIf="newTaskName.invalid && (newTaskName.dirty || newTaskName.touched || newForm.submitted) && newTaskName.errors?.pattern">Task Name should contain only alphabets,digit,dot and hyphen only</span>
                        <span class="text-danger" *ngIf="newTaskName.invalid && (newTaskName.dirty || newTaskName.touched || newForm.submitted) && newTaskName.errors?.minlength">Task Name should contain atleast 3 characters</span>
                </div>
        </div>
        <div class="form-group row">
                <label for="priority" class="col-sm-2 col-form-label">Priority</label>
                <div class="col-sm-4">
                        <form class="range-field">
                                <input type="range" class="custom-range" min="0" max="30" name="priority" [(ngModel)]="task.Priority" step="1">
                        </form>
                </div>
        </div>

        <div class="form-group row">
        </div>
        <div class="form-group row">
                <label for="parentTask" class="col-sm-2 col-form-label">Parent Task</label>
                <div class="col-sm-4">
                        <select id="parentTask" class="form-control form-control" name="parent_id" [(ngModel)]="task.ParentTaskID">
                                <option selected>Choose...</option>
                                <option *ngFor="let task of tasks" [value]="task.TaskID">{{task.TaskName}}</option>
                        </select>
                </div>
        </div>
        <div class="form-group row">
                <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
                <div class="col-sm-4">
                        <input type="text" class="form-control" name="start_date" [(ngModel)]="task.StartDate" bsDatepicker>
                </div>
        </div>
        <div class="form-group row">
                <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
                <div class="col-sm-4">
                        <input type="text" class="form-control" name="end_date" [(ngModel)]="task.EndDate" bsDatepicker>
                </div>
        </div>

        <div class="form-group row">
                <div class="offset-2 col-md-6 pl-3">
                        <button type="submit" class="btn btn-primary" (click)="addtask();">Add Task</button>
                        <button type="reset" class="btn btn-primary ml-2">Reset</button>
                </div>
        </div>
</form>